flows.json
[
    {
        "id": "20ac8dd407885f5d",
        "type": "tab",
        "label": "Dragonframe_Int",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f4aaa9f87211afb",
        "type": "subflow",
        "name": "Message from Dragonframe",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 200,
                "wires": [
                    {
                        "id": "384db60c452cd757"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "f6404371790ba258",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 140,
                "wires": [
                    {
                        "id": "08559261273fd7dd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 200,
                "wires": [
                    {
                        "id": "94507ce7ac3a5464",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 260,
                "wires": [
                    {
                        "id": "6b718d3e9b8d1c73",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 320,
                "wires": [
                    {
                        "id": "b86d8b418a6b12f8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "9bb44f6703637248",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8f763fcfa9a2d554",
            "4a5a8d6cd7ad3256",
            "98544f4b87b2b56e",
            "9da7a0f2cdc1cc5d",
            "319d9f93d4b86cb3",
            "ca9db2b297167bc6",
            "64f9203603db7908"
        ],
        "x": 34,
        "y": 359,
        "w": 852,
        "h": 222
    },
    {
        "id": "0bb745afc23d0509",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6cb3cffde7b508fa",
            "46d78d863bf40c19",
            "e04c5893018bb8f9",
            "803ffb81a3fe0d25",
            "f155cd0a6b510828",
            "1783358b9ae93b5b",
            "2dc4d3acb2e2cdf6",
            "eb4444322a75b3c1",
            "681a21428075b6f9",
            "9177261c8c25d93d",
            "85573d2294dd4173",
            "736dd74c72d2a204",
            "96425f00a551e968"
        ],
        "x": 34,
        "y": 59,
        "w": 752,
        "h": 282
    },
    {
        "id": "e86b7e85ec7e628e",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1f80a68806d157b6",
            "fb159ba299d590e7",
            "dc4fb9cd4aca1e50",
            "5efad5f13ccddc1d",
            "d1e27294d49c58e8"
        ],
        "x": 34,
        "y": 1199,
        "w": 432,
        "h": 172
    },
    {
        "id": "fc95a5364964861e",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "777c711320926b28",
            "291068297d309ff4",
            "f796e60ca7ad161d",
            "aa69fab8dd6d1c40",
            "8e2ec8c8916bdf24",
            "06b7e743d486e5ec",
            "83558a2d4dd1ec39",
            "e9f5c42e1f3e50a4",
            "7766a80f579491d0",
            "1299a236e72220b3",
            "406cc4d760a0a25a",
            "6a8302e07e51c516",
            "5b9f30ef3294e253",
            "250d8277323b0835",
            "4406adeb35e5e2e7",
            "1995307a6b379738",
            "96d34eae343acaac",
            "ad668695f02ae062",
            "4dd1bbe994c3b52f",
            "12408f35f6cee229",
            "6edae490f780c504",
            "c485baf2dbc34784",
            "df5e6c8e46500187",
            "132379b687fd1d01",
            "fd41d6ae3f2edbdf",
            "d5010ddcf1962b6b",
            "a54d238e37f49a60",
            "ac735291685f7021",
            "dad9def59723f79b"
        ],
        "x": 34,
        "y": 599,
        "w": 2092,
        "h": 582
    },
    {
        "id": "f8bf27854bd1b8d1",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "869fa2a8fa523984",
            "d2d9a905d0204ceb",
            "a03789066075224a",
            "8c50a50d865f61ce",
            "40bef9287aebf1b0",
            "3c8e30648efc73b8"
        ],
        "x": 1214,
        "y": 299,
        "w": 702,
        "h": 282
    },
    {
        "id": "728af4eea16d05c3",
        "type": "group",
        "z": "20ac8dd407885f5d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8b46c3288f3c192f",
            "4bd131d11e5656df",
            "7343288e0a5c8760",
            "ed4deacfc469ea0f",
            "eb40f576e817ee93",
            "2be5d300b13c3936",
            "6fa3553b068fe207",
            "f9c38b354e8f4287"
        ],
        "x": 814,
        "y": 59,
        "w": 872,
        "h": 182
    },
    {
        "id": "6f2ee2563c258dce",
        "type": "position-config",
        "name": "",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12",
        "contextStore": ""
    },
    {
        "id": "f52ae91beb2ca245",
        "type": "telegram bot",
        "botname": "@patofoto_bot",
        "usernames": "patosuarez",
        "chatids": "1951007350",
        "baseapiurl": "",
        "updatemode": "none",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "384db60c452cd757",
        "type": "json",
        "z": "1f4aaa9f87211afb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "08559261273fd7dd",
                "94507ce7ac3a5464",
                "6b718d3e9b8d1c73",
                "f6404371790ba258",
                "b86d8b418a6b12f8"
            ]
        ]
    },
    {
        "id": "08559261273fd7dd",
        "type": "switch",
        "z": "1f4aaa9f87211afb",
        "name": "captureState",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "captureState",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "94507ce7ac3a5464",
        "type": "switch",
        "z": "1f4aaa9f87211afb",
        "name": "captureComplete",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "captureComplete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6b718d3e9b8d1c73",
        "type": "switch",
        "z": "1f4aaa9f87211afb",
        "name": "frameComplete",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "frameComplete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f6404371790ba258",
        "type": "switch",
        "z": "1f4aaa9f87211afb",
        "name": "hello",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hello",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b86d8b418a6b12f8",
        "type": "switch",
        "z": "1f4aaa9f87211afb",
        "name": "position",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "position",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8f763fcfa9a2d554",
        "type": "time-inject",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "Intervalometer",
        "nameInt": "global.startTime - global.endTime[Mon-Fri] =... ↻",
        "positionConfig": "6f2ee2563c258dce",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "{ \"command\" : \"shoot\", \"frames\" : 1 }",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "*",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "interval-time",
        "intervalCount": "interval",
        "intervalCountType": "global",
        "intervalCountMultiplier": 60000,
        "time": "startTime",
        "timeType": "global",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "endTime",
        "timeEndType": "global",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "1,2,3,4,5",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "98544f4b87b2b56e",
                "ca9db2b297167bc6"
            ]
        ]
    },
    {
        "id": "1f80a68806d157b6",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "e86b7e85ec7e628e",
        "name": "Dragonframe sends \"Hello\"handshake every 20 sec",
        "info": "",
        "x": 250,
        "y": 1240,
        "wires": []
    },
    {
        "id": "fb159ba299d590e7",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "e86b7e85ec7e628e",
        "name": "frameComplete",
        "info": "event: \"frameComplete\"\nexposure: 1\nexposureName: \"X1\"\nframe: 35\nimageFileName: \"\"\nproduction: \"Test\"\nscene: \"002\"\nstereoIndex: 0\ntake: \"01\"",
        "x": 140,
        "y": 1285,
        "wires": []
    },
    {
        "id": "dc4fb9cd4aca1e50",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "e86b7e85ec7e628e",
        "name": "Capture State",
        "info": "event: \"captureState\"\nreadyToCapture: false\nstate: \"READY\"\n\n\nevent: \"captureState\"\nreadyToCapture: false\nstate: \"SHOOTING\"\n\n\nevent: \"captureState\"\nreadyToCapture: true\nstate: \"READY\"",
        "x": 310,
        "y": 1285,
        "wires": []
    },
    {
        "id": "5efad5f13ccddc1d",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "e86b7e85ec7e628e",
        "name": "Shoot",
        "info": "event: \"shoot\"\nexposure: 1\nexposureName: \"X1\"\nframe: 35\nproduction: \"Test\"\nscene: \"002\"\nstereoIndex: 0\ntake: \"01\"",
        "x": 230,
        "y": 1330,
        "wires": []
    },
    {
        "id": "d1e27294d49c58e8",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "e86b7e85ec7e628e",
        "name": "Events",
        "info": "hello\n    maxVersion: 1\n    minVersion: 1\n\ncaptureState\n    readyToCapture: true|false\n    \ncaptureComplete\n    exposure: 1   \n    imageFileName: \"xxxxx\"\n    \nframeComplete\n    exposure: 1\n\nposition\n    exposure: 1",
        "x": 110,
        "y": 1330,
        "wires": []
    },
    {
        "id": "777c711320926b28",
        "type": "udp in",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "iface": "",
        "port": "8888",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "f796e60ca7ad161d",
                "fd41d6ae3f2edbdf"
            ]
        ]
    },
    {
        "id": "291068297d309ff4",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Connection alive message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f796e60ca7ad161d",
        "type": "timeout",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Lost Dragonframe Comm Timer",
        "outtopic": "dragonframe",
        "outsafe": "1",
        "outwarning": "Warning",
        "outunsafe": "0",
        "warning": "5",
        "timer": "60",
        "repeat": false,
        "again": true,
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "aa69fab8dd6d1c40"
            ]
        ]
    },
    {
        "id": "aa69fab8dd6d1c40",
        "type": "switch",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1080,
        "wires": [
            [
                "291068297d309ff4"
            ],
            [
                "8e2ec8c8916bdf24"
            ]
        ]
    },
    {
        "id": "8e2ec8c8916bdf24",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Disconnected Message",
        "func": "msg.payload = {\n    content:`${global.get('camName')} is offline`,\n    type: \"message\",\n    chatId: 1951007350\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1100,
        "wires": [
            [
                "06b7e743d486e5ec"
            ]
        ]
    },
    {
        "id": "06b7e743d486e5ec",
        "type": "telegram sender",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "bot": "f52ae91beb2ca245",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1760,
        "y": 1020,
        "wires": [
            [
                "83558a2d4dd1ec39"
            ]
        ]
    },
    {
        "id": "83558a2d4dd1ec39",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Message to Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.content.text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e9f5c42e1f3e50a4",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Error Message Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "8e2ec8c8916bdf24"
            ]
        ]
    },
    {
        "id": "7766a80f579491d0",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "captureState",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "1299a236e72220b3",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "captureComplete",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 760,
        "wires": []
    },
    {
        "id": "406cc4d760a0a25a",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "position",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 900,
        "wires": []
    },
    {
        "id": "4a5a8d6cd7ad3256",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "d": true,
        "g": "9bb44f6703637248",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"command\" : \"shoot\", \"frames\" : 1 }",
        "payloadType": "str",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "98544f4b87b2b56e",
                "ca9db2b297167bc6"
            ]
        ]
    },
    {
        "id": "6a8302e07e51c516",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "frameComplete",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.frame",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "98544f4b87b2b56e",
        "type": "trigger",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "Intervalometer Alive Trigger",
        "op1": "Shooting OK",
        "op2": "Shooting Stopped",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "9da7a0f2cdc1cc5d"
            ],
            [
                "319d9f93d4b86cb3"
            ]
        ]
    },
    {
        "id": "9da7a0f2cdc1cc5d",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "319d9f93d4b86cb3",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "6cb3cffde7b508fa",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Interval in Minutes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "e04c5893018bb8f9"
            ]
        ]
    },
    {
        "id": "46d78d863bf40c19",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Display Interval",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "e04c5893018bb8f9",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "interval Variable",
        "rules": [
            {
                "t": "set",
                "p": "interval",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "46d78d863bf40c19"
            ]
        ]
    },
    {
        "id": "5b9f30ef3294e253",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "use dfPort variable",
        "rules": [
            {
                "t": "set",
                "p": "dfport",
                "pt": "global",
                "to": "port",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 680,
        "wires": [
            [
                "8c50a50d865f61ce"
            ]
        ]
    },
    {
        "id": "250d8277323b0835",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Hello",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "ca9db2b297167bc6",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "set dfport variable",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "dfport",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 528.3333333333333,
        "wires": [
            [
                "8c50a50d865f61ce"
            ]
        ]
    },
    {
        "id": "4406adeb35e5e2e7",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "set currentFrame variable",
        "rules": [
            {
                "t": "set",
                "p": "currentFrame",
                "pt": "global",
                "to": "payload.frame",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "6a8302e07e51c516"
            ]
        ]
    },
    {
        "id": "1995307a6b379738",
        "type": "within-time-switch",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Day Limits",
        "nameInt": "",
        "positionConfig": "6f2ee2563c258dce",
        "startTime": "startTime",
        "startTimeType": "global",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "endTime",
        "endTimeType": "global",
        "endOffset": "",
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": 0,
        "timeRestrictionsType": "none",
        "timeDays": "1,2,3,4,5",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "none",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "none",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "date",
        "tsCompare": "0",
        "x": 750,
        "y": 840,
        "wires": [
            [
                "ad668695f02ae062",
                "12408f35f6cee229"
            ],
            [
                "4dd1bbe994c3b52f"
            ]
        ]
    },
    {
        "id": "803ffb81a3fe0d25",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Start Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6:00",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "f155cd0a6b510828"
            ]
        ]
    },
    {
        "id": "f155cd0a6b510828",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "startTime Variable",
        "rules": [
            {
                "t": "set",
                "p": "startTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "1783358b9ae93b5b"
            ]
        ]
    },
    {
        "id": "1783358b9ae93b5b",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Display Start Time",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "2dc4d3acb2e2cdf6",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "End Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17:00",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "eb4444322a75b3c1"
            ]
        ]
    },
    {
        "id": "eb4444322a75b3c1",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "endTime Variable",
        "rules": [
            {
                "t": "set",
                "p": "endTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "681a21428075b6f9"
            ]
        ]
    },
    {
        "id": "681a21428075b6f9",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Display End Time",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "96d34eae343acaac",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Format message for Telegram",
        "func": "msg.payload = {\n    content: `Started. Shot frame ${global.get('dailyCounter')} of total frames ${global.get('currentFrame')} from ${global.get('camName')}`,\n    type: \"message\",\n    chatId: 1951007350,\n\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "06b7e743d486e5ec"
            ]
        ]
    },
    {
        "id": "9177261c8c25d93d",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Intervalometer Setup",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "64f9203603db7908",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "9bb44f6703637248",
        "name": "Intervalometer",
        "info": "",
        "x": 150,
        "y": 423.3333333333333,
        "wires": []
    },
    {
        "id": "ad668695f02ae062",
        "type": "trigger",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1160,
        "y": 860,
        "wires": [
            [
                "96d34eae343acaac"
            ]
        ]
    },
    {
        "id": "4dd1bbe994c3b52f",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 940,
        "wires": [
            [
                "ad668695f02ae062",
                "12408f35f6cee229"
            ]
        ]
    },
    {
        "id": "12408f35f6cee229",
        "type": "counter",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "inc": 1,
        "name": "",
        "x": 1140,
        "y": 920,
        "wires": [
            [
                "c485baf2dbc34784"
            ]
        ]
    },
    {
        "id": "6edae490f780c504",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Daily Counter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 920,
        "wires": []
    },
    {
        "id": "85573d2294dd4173",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "Camera Name",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test Camera",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "736dd74c72d2a204"
            ]
        ]
    },
    {
        "id": "736dd74c72d2a204",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "camName Variable",
        "rules": [
            {
                "t": "set",
                "p": "camName",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "96425f00a551e968"
            ]
        ]
    },
    {
        "id": "96425f00a551e968",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "0bb745afc23d0509",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "c485baf2dbc34784",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Daily Counter Variable",
        "rules": [
            {
                "t": "set",
                "p": "dailyCounter",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 920,
        "wires": [
            [
                "6edae490f780c504"
            ]
        ]
    },
    {
        "id": "df5e6c8e46500187",
        "type": "telegram command",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "command": "/current",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f52ae91beb2ca245",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "96d34eae343acaac"
            ]
        ]
    },
    {
        "id": "132379b687fd1d01",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Communication from camera",
        "info": "",
        "x": 180,
        "y": 693.3333333333334,
        "wires": []
    },
    {
        "id": "fd41d6ae3f2edbdf",
        "type": "subflow:1f4aaa9f87211afb",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "x": 400,
        "y": 780,
        "wires": [
            [
                "d5010ddcf1962b6b",
                "5b9f30ef3294e253"
            ],
            [
                "7766a80f579491d0"
            ],
            [
                "1299a236e72220b3"
            ],
            [
                "4406adeb35e5e2e7",
                "1995307a6b379738"
            ],
            [
                "406cc4d760a0a25a"
            ]
        ],
        "outputLabels": [
            "Hello",
            "captureState",
            "captureComplete",
            "frameComplete",
            "position"
        ]
    },
    {
        "id": "d5010ddcf1962b6b",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "func": "msg.payload = {\n    command: msg.payload.event,\n    //version: Number.parseFloat(msg.payload.maxVersion),\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 640,
        "wires": [
            [
                "a54d238e37f49a60"
            ]
        ]
    },
    {
        "id": "a54d238e37f49a60",
        "type": "json",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "250d8277323b0835",
                "8c50a50d865f61ce"
            ]
        ]
    },
    {
        "id": "869fa2a8fa523984",
        "type": "time-inject",
        "z": "20ac8dd407885f5d",
        "g": "f8bf27854bd1b8d1",
        "name": "",
        "nameInt": "timestamp ↻30s",
        "positionConfig": "6f2ee2563c258dce",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "*",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "interval",
        "intervalCount": "30",
        "intervalCountType": "num",
        "intervalCountMultiplier": 1000,
        "time": "",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 1340,
        "y": 540,
        "wires": [
            [
                "3c8e30648efc73b8"
            ]
        ]
    },
    {
        "id": "d2d9a905d0204ceb",
        "type": "udp out",
        "z": "20ac8dd407885f5d",
        "d": true,
        "g": "f8bf27854bd1b8d1",
        "name": "",
        "addr": "74.108.21.213",
        "iface": "",
        "port": "65516",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1780,
        "y": 540,
        "wires": []
    },
    {
        "id": "a03789066075224a",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "f8bf27854bd1b8d1",
        "name": "Still Alive Message Heartbeat",
        "info": "",
        "x": 1380,
        "y": 500,
        "wires": []
    },
    {
        "id": "8c50a50d865f61ce",
        "type": "udp out",
        "z": "20ac8dd407885f5d",
        "g": "f8bf27854bd1b8d1",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "",
        "outport": "2222",
        "base64": false,
        "multicast": "false",
        "x": 1340,
        "y": 380,
        "wires": []
    },
    {
        "id": "40bef9287aebf1b0",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "f8bf27854bd1b8d1",
        "name": "Communication to Dragonframe",
        "info": "",
        "x": 1390,
        "y": 340,
        "wires": []
    },
    {
        "id": "3c8e30648efc73b8",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "f8bf27854bd1b8d1",
        "name": "Alive Message",
        "func": "msg.payload = `${global.get('camName')} is alive`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 540,
        "wires": [
            [
                "d2d9a905d0204ceb"
            ]
        ]
    },
    {
        "id": "8b46c3288f3c192f",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "Shooting Hours",
        "func": "let numStartTime = parseInt(global.get('startTime'), 10);\nlet numEndTime = parseInt(global.get('endTime'), 10);\n\nmsg.payload = shootHours = numEndTime - numStartTime;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "ed4deacfc469ea0f"
            ]
        ]
    },
    {
        "id": "4bd131d11e5656df",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7343288e0a5c8760",
        "type": "inject",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "8b46c3288f3c192f",
                "eb40f576e817ee93"
            ]
        ]
    },
    {
        "id": "ed4deacfc469ea0f",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "set shootHours variable",
        "rules": [
            {
                "t": "set",
                "p": "shootHours",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "4bd131d11e5656df"
            ]
        ]
    },
    {
        "id": "eb40f576e817ee93",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "Frames a day",
        "func": "let framesHour = 60/global.get('interval');\n\nmsg.payload = global.get('shootHours')*framesHour;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "2be5d300b13c3936"
            ]
        ]
    },
    {
        "id": "2be5d300b13c3936",
        "type": "change",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "set framesDay variable",
        "rules": [
            {
                "t": "set",
                "p": "framesDay",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "6fa3553b068fe207"
            ]
        ]
    },
    {
        "id": "6fa3553b068fe207",
        "type": "debug",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 200,
        "wires": []
    },
    {
        "id": "ac735291685f7021",
        "type": "function",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "Last Frame Message",
        "func": "let expectedFrames = global.get('framesDay');\nlet shotFrames = global.get('dailyCounter');\nif (expectedFrames===shotFrames){\n    msg.payload = {\n    content:'All frames shot today',\n    type: \"message\",\n    chatId: 1951007350,\n};\n} else {\n    msg.payload = {\n    content:'Frame count not as expected',\n    type: \"message\",\n    chatId: 1951007350,\n};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 980,
        "wires": [
            [
                "06b7e743d486e5ec"
            ]
        ]
    },
    {
        "id": "dad9def59723f79b",
        "type": "time-inject",
        "z": "20ac8dd407885f5d",
        "g": "fc95a5364964861e",
        "name": "End of day trigger",
        "nameInt": "⏲ global.endTime↷[Mon-Fri] = timestamp",
        "positionConfig": "6f2ee2563c258dce",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "*",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "endTime",
        "timeType": "global",
        "offset": "5",
        "offsetType": "num",
        "offsetMultiplier": 1000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "1,2,3,4,5",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 1170,
        "y": 980,
        "wires": [
            [
                "ac735291685f7021"
            ]
        ]
    },
    {
        "id": "f9c38b354e8f4287",
        "type": "comment",
        "z": "20ac8dd407885f5d",
        "g": "728af4eea16d05c3",
        "name": "Calculations",
        "info": "",
        "x": 930,
        "y": 100,
        "wires": []
    }
]